@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Krona+One&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins";
}

#nav{
  
  /* border: 1px solid red; */
  height: 100px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  /* border: 1px solid green; */
  padding: 1em 0;
  
}

.logo{
  
}
.nav-right{
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  width: 75%;
  justify-content: space-between;
}

.navlinks{
  display: flex;
  justify-content: space-around;
  /* border: 1px solid blue; */
  width: 65%;
}

.navlinks a{
  box-shadow: inset 0 0 0 0 #000;
  padding: .2em .5em;
  /* margin: 0 2em; */
  color: #2D3441;
  border: 1px solid black;
  text-decoration: none;
  font-weight: 500;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.navlinks a.active{
  color: #fff;
    box-shadow: inset 200px 0 0 0 #000;
}

.navlinks a:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #000;
  ;
}

.logo{
  cursor: pointer;
}

.logo h1{
  font-size: 1.5rem;
  letter-spacing: .1em;
  display: flex;
  align-items: center;
}

#nav button{
  
    outline: 0;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 3px;
    color: #fff;
    background: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding: 16px 20px;
    text-align: center;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  
    
}

#nav button:hover {
  color: #000;
  background: rgb(255, 218, 87);
}


/* hamnav */

.ham-nav{
  position: absolute;
  display: flex;
  /* border: 1px solid red; */
  height: 100dvh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #000F08;
  z-index: 1;
  transition: all 200ms ease-in-out;
}

.ham-nav .navlinks{
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 100%;
}

.ham-nav a{
  opacity: 0.9;
  color: white;
  border: none;
}

.ham-nav a.active{
  border: none !important;
  box-shadow: none;
}

.ham-nav .nav-right{
  flex-direction: column;
  gap: 20px;
  /* border: 1px solid red; */
  width: 100%;
  align-items: center;
}

.ham-nav button{
  background-color: #ED231D !important;
}
.ham-nav button:hover{
    color: white !important;
}

.ham-nav .socials{
  /* border: 1px solid white !important; */
  width: 90% !important;
  display: flex !important;
  justify-content: center !important;
  gap: 10px !important;
  align-items: center !important;
}
.ham-nav .socials svg{
  fill: white !important;
  width: 20px !important;
}

.ham-nav .logo h1{
  color: white !important;
}



.home{
  /* border: 2px solid black; */
  background: url(./assets/images/home-bg.png);
  background-position-x: center;

  height: calc(100dvh - 100px);
  display: flex;
  align-items: center;
justify-content: center;  
gap: 50px;
}

.home-main{
  /* border:  2px solid black; */
  width: 35%;
}

.hero{
  /* border: 1px solid green; */
}
.hero img{
  width: 500px;
}


.hero img {
  width: 500px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}


.words h1{
  font-size: 3rem;

  width: 80%;
  font-family: "Plus Jakarta Sans";
  color: #111827;
}

.words p{
  margin-top: 1.7em;
  color: #4B5563;
}

.words button{
  outline: 0;
  margin-top: 1.7em;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 3px;
    color: #fff;
    background: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding: 16px 20px;
    text-align: center;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.words button:hover {
  color: #000;
  background: rgb(255, 218, 87);
}

.socials{
  margin-top: 1.7rem;
}

.socials img{
  width: 22px;
  margin: 0 .3em;
  transition: all 100ms ease-in-out ;
  cursor: pointer;
}

.socials img:hover{
  transform: scale(1.3);
  
}

.stack-con{
  /* border: 1px solid red; */
  background-color: #000F08;
  padding: 4em 0;
}
.stacks{
  /* border: 1px solid green; */
  display: flex;
  margin: 0 auto;
  width: 80%;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stack{
  margin-bottom: 1em;
  width: 49.2%;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Plus Jakarta Sans";
  background-color: #000;
  padding-left: 4em;
  padding-top: 1em;
  padding-bottom: 1em;

  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0);

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;


    transition: transform 0.2s ease-in-out;
}


/* .glowing-cursor {
  position: fixed;
  pointer-events: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 128, 255, 0.6);
  box-shadow: 0 0 15px 5px rgba(0, 128, 255, 0.6);
  transition: transform 0.1s ease-out;
  z-index: 9999;
  opacity: 1;
} */

.stack h2 {
  color: #FCB9B9;
  font-weight: 600;
  opacity: 0.8;

}

.stack p {
  margin-top: 1em;
  width: 70%;
  color: rgba(255, 255, 255, 0.8)
}

.stack button{
  margin-top: 3em;
  background: transparent;
  color: #ED231D;
  font-size: 1rem;
  border: none;
  font-family: "Plus Jakarta Sans";
  opacity: 0.8;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.stack button:hover{
  transform: scale(1.1);
}


.stack button img{
  width: 20px;
  margin-left: .5em;
}

.idea-con{
  /* border: 1px solid red; */
  padding: 8em 0;
}
.idea{
  display: flex;
  /* border: 1px solid blue; */
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.left-side img{
  width: 100%;
  margin-top: 1em;
  box-shadow: 5px 2px 14px 2px rgba(250, 234, 236, 0.76),
      -19px 5px 19px -1px rgba(229, 248, 239, 0.39);
    border-radius: 10px;
}

.insight-con{
  
  height: 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F1F1F;
  padding: 0 1em;
  border-radius: 10px;
}

.insight-con h1{
  font-size: 3rem;
  
}

.insight-con h3{
  color: #9CA3AF;
  opacity: 0.8;
}
.insight-con p {
  color: #F3F4F6;
  opacity: 0.8;
}

.left-side{
  margin-left: 3em;
  width: 30%;
}
.right-side{
  /* border: 3px solid pink; */
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.8;
  padding-left: 3em;
}

.right-side h1{
  font-size: 2.5rem;
  font-family: "Plus Jakarta Sans";
  color: #1F1F1F;
}

.ready{
  width: 80%;
}

.ability{
  
}
.ability img{
  width: 16px;
}
.ability p{
  display: flex;
  align-items: center;
  margin-top: 1em;
  color: #1F1F1F;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-weight: 600;
}

.skills-con{
  /* border: 1px solid red; */
  padding: 4em 0;
  background-color: #000F08;
}

.skills h1{
  text-align: center;
  color: #fff;
  font-size: 2.2rem;
  opacity: 0.8;
}
.specialty{
  text-align: center;
  color: #fff;
  opacity: 0.8;
}

.skills{
  width: 80%;
  margin: 0 auto;
}

.left, .right{
  /* border: 1px solid green; */
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}



.skill{
  width: 100%;
  /* border: 1px solid blue; */
  /* height: 100px; */
  background-color: #2F3435;
  
  border-radius: 10px;
  padding: 1em 0 1em 1em;
  transition: all 200ms ease-in-out;
}

.left .skill:hover{
  transform: translateX(10px);
}
.right .skill:hover{
  transform: translateX(-10px);
}

.skill-line h3{
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
}

.skill-line p{
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400
}

.skill-box{
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 3em 5em;
  background-color: #000000b3;
  margin-top: 2.3em;
  border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}


.middle img{
  width: 20px;
  height: 20px;
  
}



.middle{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid brown; */
  width: 40%;
  
}
.stack-icon{
  display: flex;
  justify-content: space-between;
  /* border: 1px solid seagreen; */
  height: 100px;
  align-items: center;
}

.stack-icon div{
  padding: .9em;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F1F1F;
}

.octagon{
  position: absolute;
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: .5em;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3D444D;
animation: blink 2s ease 0s infinite normal none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.octagon img{
  width: 50px;
  height: 50px;
}

.recent-con{
  
  padding: 3em 0;
  background-color: #F9F9F9;
}

.project-img{
  height: 250px;
  overflow: hidden;
}

.project-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: 1px solid pink; */
  transition: transform 0.2s ease-in-out;
  transform-origin: center center;
}




.project-con{
  /* border: 1px solid green; */
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
  flex-wrap: wrap;
  flex-grow: 1;
}
.project{
  width: 32%;
  transition: all 100ms ease-in-out;
  /* border: 1px solid black; */
  padding-bottom: .5em;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 1);
    background-color: #fff;
    position: relative;
    min-width: 260px;
}

.project:hover .project-img img {

  filter: blur(4px);
  transform: scale(1.2);
}
.project:hover .visit {

opacity: 1;
z-index: 100;
}
.project:hover .project-main{
  transform: translateY(-5px);
}
.project:hover .stack-used{
  transform: translateY(-5px);
}

.project-main h2{
  color: #1F1F1F;
  font-size: 1.3rem;
  opacity: 0.8;
}

.project-main p{
  color: #030712;
  font-size: 0.9rem;
  opacity: 0.8;
}

.project-main{
  padding-left: 1em;
  margin-top: 1em;
  transition: all 100ms ease-in-out;
}

.stack-used{
  display: flex;
  padding-left: 1em;
  margin-top: 1.5em;
  gap: 8px;
  flex-grow: 1;
  flex-wrap: wrap;
  transition: all 100ms ease-in-out;

}

.stack-used p{
  
  padding: 0 .5em;
  background-color: #F3F4F6;
  color: #1F1F1F;
  opacity: 0.8;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 1);
}

.visit{
  position: absolute;
  top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    padding: .8em 1em;
    gap: 4px;
    
    background-color: white;
    opacity: 0;
    transition: all 300ms ease-in-out;
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.visit:hover{
  background-color: #7F7F7F;
  color: white;
}
.visit img{
  width: 16px;
  z-index: 1;
}
.recent-p, .recent-h{
  text-align: center;
  color: #1F1F1F;
  opacity: 0.8;
}

.view-btn{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.recent button{
  outline: 0;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 10px;
    color: #fff;
    background: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding: 16px 20px;
    text-align: center;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    
}

.recent button:hover{
  color: #000;
    background: rgb(255, 218, 87);
}


.others-con{
  padding: 2em 0;
  background-color: #EE3E38;

    opacity: 1;
    background:
        linear-gradient(-45deg, #0000 1.3%, #E4E4ED 0 32%, #0000 0),
        linear-gradient(45deg, #0000 48%, #EE3E38 0 52%, #0000 0),
        linear-gradient(45deg, #0000 1.3%, #E4E4ED 0 32%, #0000 0) calc(32px/2) calc(32px/2),
        linear-gradient(-45deg, #0000 48%, #EE3E38 0 52%, #0000 0) #E4E4ED;
      background-size: calc(2*32px) 32px, 32px 32px;
}

.custom-pattern {
  
}

.others{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.others h1{
  font-size: 2rem;
  color: #EE3E38;
  text-align: center;
}

.others button{
  outline: 0;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 10px;
    color: #fff;
    background: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding: 16px 20px;
    text-align: center;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    margin-top: 1.5em;
}


.others button:hover{
  color: #000;
    background: rgb(255, 218, 87);
}


.footer-con{

  background-color: #000F08;
  padding: 5em 0;
}

.footer{
  display: flex;
  width: 80%;
  
  margin: 0 auto;
  justify-content: space-between;
  border-bottom: 1px solid #1F2937;
  padding-bottom: 5em;
}

.footer > *{
  width: 24%;
  
  color: white;
  opacity: 0.8;
}

.first .elevate{
  margin-top: 1em;
}
.email{
  margin-top: 1em;
}

.second, .third, .fourth{
  display: flex;
  flex-direction: column;
  
}

.second{
  padding-left: 5em;
}

.fourth button{
  width: 100%;
  margin-top: 1em;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #EE3E38;
    color: #fff;
    font-family: "Plus Jakarta Sans";
    opacity: 1;
}

.footer a{
  text-decoration: none;
  color: white;
  transition: all ease-in-out 200ms;
}

.footer a:hover{
  color: #EE3E38;
}


.services,
.customer,
.delivery,
.customer,
.works,
.footer input {
  margin-top: 1em;
  opacity: 0.8;
}

.footer input{
  padding: 1.3em 0;
  padding-left: .5em;
  background: transparent;
  outline: none;
  border-radius: 5px;
  border: 1px solid #EE3E38;
  opacity: 1;
  color: white;
  font-family: "Plus Jakarta Sans";
}

.footer input::placeholder{
  color: white;
  font-family: "Plus Jakarta Sans";
  opacity: 0.8;
}

.footer .socials{

  display: flex;
  align-items: center;
  gap: 8px;
  
}

.footer .socials svg{
  fill: white;
  width: 26px;
  transition: all 200ms ease-in-out;
  opacity: 1;
}

.footer .socials svg:hover {
  transform: scale(1.2);
}

.first h1{
  display: flex;
  align-items: center;
}

#disclaimer{
  text-align: center;
  color: white;

  margin-top: 2.3em;
}


.work{
  --dot-bg: black;
    --dot-color: #420a08;
    --dot-size: 2px;
    --dot-space: 22px;
    background:
      linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      var(--dot-color);

      /* height: 100dvh; */
      padding-top: 3em;
}

  .work .recent-h{
    color: white;
  }

    .work .recent-p{
      color: #FCB9B9;
    }

    .work .project-con{
      
      flex-grow: 1;
      flex-wrap: wrap;
    }

    .work .project{
      margin-bottom: 1.5em;
      background-color: #000F08;
      box-shadow: 0px 9px 11px 0px rgba(0, 0, 0, 0.1);
    }

   .work .project-main h2{
    color: #FCB9B9;
   }
   .work .project-main p{
    color: white;
   }

   .work .stack-used p{
    background-color: #000;
    color: white;
    border: 1px solid #1F2937;
    box-shadow: 0px 5px 0px 7px rgba(0, 0, 0, 0.1);
   }


   .contact{
    /* border: 1px solid red; */
    --dot-bg: black;
      --dot-color: #420a08;
      --dot-size: 2px;
      --dot-space: 22px;
      background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);

        color: white;
        padding: 3em 0;
        /* height: calc(100dvh - 100px); */
   }

   .contact-con{
    display: flex;
    /* border: 1px solid white; */
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
   }

   .doings{
    display: flex;
    /* border: 1px solid green; */
    gap: 15px;
    align-items: center;
    width: 80%;
    margin-bottom: 1.2em;
   }

   .contact-left{
    width: 55%;
   }

   .contact-deets{
    display: flex;
    /* border: 1px solid brown; */
    width: 80%;
    justify-content: space-between;
   }

   .me{
    color: #FCB9B9;
    font-family: "Krona One";
    text-transform: uppercase;
    letter-spacing: 10px;
   }

   .contact h1{
    margin-bottom: 1em;
    opacity: 0.8;
   }

   .doings img{
    padding: .6em;
    background-color: #fff;
    border-radius: 5px;
    width: 40px;
   }

   .doings p{
    opacity: 0.8;
    font-family: "Poppins";
    font-weight: 600;

   }
   

   .contact-deets p{
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    gap: 7px;
    padding: .5em;
    border-radius: 5px;
   }

   .contact .socials{
    /* border: 1px solid green; */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: .6em 0;
    border-radius: 5px;
   }

   .contact .socials svg{
    fill: black;
    width: 30px;
    transition:  all ease-in-out 200ms;
   }

.contact .socials svg:hover{
  transform: scale(1.2);
}

   .contact-right{
    background-color: white;
    padding: 2.3em;
    height: fit-content;
    border-radius: 10px;
   }

   .contact-right h2{
    color: #1F1F1F;
    opacity: 0.8;
   }

   .contact-right p{
    color: #4B5563;
    margin-bottom: 1.4em;
   }

   .ur-con{
    color: #1F2937  ;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 1.3em;
   }

   .ur-con input{
    padding: 1.1em 0;
    border: 1px solid #D1D5DB;
    padding-left: 1em;
    border-radius: 10px;
   }

   .ur-con input::placeholder{
    font-family: "Poppins";
   }

   .ur-con textarea{
    height: 120px;
    border: 1px solid #D1D5DB;
    border-radius: 10px;
    resize: none;
    padding-left: 1em;
    padding-top: 1em;
   }

   .ur-con textarea::placeholder{
    font-family: "Poppins";
   }

   .contact-right button{
      outline: 0;
      text-align: center;
      cursor: pointer;
      padding: 17px 30px;
      border: 0;
      color: #fff;
      font-size: 17.5px;
      border: 2px solid transparent;
      border-color: #000;
      color: #000;
      background: transparent;
      font-weight: 800;
      line-height: 30px;
      transition: background, color .1s ease-in-out;
    
      width: 100%;
      text-transform: capitalize;
      font-family: "Poppins";
   }

   .contact-right button:hover {
    background-color: #000;
    color: #fff;
  }

  /* hamburger */

    .hamburger-container {
      width: 36px;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      z-index: 100;
      background-color: white;
      padding: .4em .4em;
    }
  
    .bar {
      width: 100%;
      height: 2px;
      background-color: #333;
      border-radius: 5px;
      transition: all 0.3s ease;
    }
  
    /* Top bar transforms into X */
    .top-bar.open {
      transform: rotate(45deg) translate(5.3px, 5.3px);
    }
  
    /* Middle bar disappears */
    .middle-bar.open {
      opacity: 0;
    }
  
    /* Bottom bar transforms into X */
    .bottom-bar.open {
      transform: rotate(-45deg) translate(5px, -5px);
    }

        @media screen and (max-width: 1300px) {
            .contact-con {
                
                /* border: 1px solid white; */
                width: 95%;
                
              }
        }


    @media screen and (max-width: 1000px) {
      .navbar{
        width: 92%;
        /* border: 1px solid red; */
      }

     .home{
      /* border: 1px solid red; */
      flex-direction: column;
      height: 100%
     }

     .home-main{
      width: 100%;
      
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
     }
     .words{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
     }

     .words h1{
      font-size: 3rem;
      text-align: center;
      width: 100%;
     margin-top: 1.5em;
      
     }

     .words p{
      text-align: center;
     }
     .stacks{
      /* border: 1px solid pink; */
      width: 90%;
     }

     .skills{
      width: 90%;
      /* border: 1px solid pink; */
     }

     .idea{
      /* border: 1px solid red; */
      width: 90%;
     }

     .left-side{
      width: 40%;
     }

         .left,
         .right {
          
         }

         .project-con{
          /* border: 1px solid green; */
          width: 90%;
         }

         .project{
          width: 48%;
          max-width: 450px;
          margin-bottom: 1em;
         }

         .footer{
          width: 95%;
         }
    }


  @media screen and (max-width: 900px) {
    .stacks {
        width: 96%;
      }

            .idea {
              /* border: 1px solid red; */
              width: 96%;
            }

            .skills{
      width: 96%;
      /* border: 1px solid pink; */
     }

     .project-con{
          /* border: 1px solid green; */
          width: 96%;
         }


         .contact-con {
                
                /* border: 1px solid white; */
                width: 95%;
                flex-direction: column;
              }

      .contact-deets{
        /* border: 1px solid red; */
        width: 100%;
        justify-content: center;
        gap: 20px;
        min-width: 300px;
        flex-wrap: wrap;
        flex-grow: 1;
      }

      .contact-left{
        width: 100%;
      }

      .contact .socials{
        width: 100%;
      }

      .contact-right{
        margin-top: 1.5em;
      }
  }


  @media screen and (max-width: 800px) {
    .hero img{
      width: 400px;
    }

    .words h1{
      font-size: 2rem;
    }

    .stacks{
      width: 96%;
      flex-direction: column;
     }

     .stack{
      width: 100%;
     }

     .idea{
      width: 96%;
      flex-direction: column;
     }

     .left-side{
      width: 100%;
      margin-left: 0;
     }

     .right-side{
      width: 100%;
      padding-left: 0;
      margin-top: 1.5em;
     }

     .ready{
      width: 100%;
      margin-top: 1.5em;
     }

     .left, .right{
  /* border: 1px solid green; */
  display: none;
}

.middle{
  width: 100%;
}

    .skill-box{
      padding: 3em 3em;
    }


    .project-con{
      width: 96%;
      flex-direction: column;
    }

    .project{
      width: 100%;
      max-width: 750px;
    }

    .footer{
      width: 96%;
      flex-direction: column;
      gap: 20px;
    }


    .footer > *{
      width: 100%;
    }

    .second{
      padding-left: 0;
    }
  }

  @media screen and (max-width: 450px) {
    .hero img{
      width: 100%;
    }

    .stack{
      padding-left: 1em;
    }

    .stack h2{
      font-size: 1rem;
    }

    .stack p {
      width: 100%;
    }

    .right-side h1{
      font-size: 1.5rem;
     
    }

    .idea-con{
      padding: 3em 0;
    }

    .ability p{
      gap: 5px;
      font-size: .8rem;
    }

    #disclaimer{
      font-size: .8rem;
    }

    .doings{
      /* border: 1px solid teal; */
      width: 100%;
    }
    .doings p{
      font-size: 1rem;
    }
  }