@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins";
}

#nav{
  padding: 16px 0;
  
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  
  
}

.navlinks a{
  box-shadow: inset 0 0 0 0 #000;
  padding: .2em .5em;
  margin: 0 2em;
  color: #2D3441;
  border: 1px solid black;
  text-decoration: none;
  
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.navlinks a:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #000;
  ;
}
.logo h1{
  font-size: 1.5rem;
  letter-spacing: .1em;
  display: flex;
  align-items: center;
}

#nav button{
  
    outline: 0;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 3px;
    color: #fff;
    background: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding: 16px 20px;
    text-align: center;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  
    
}

#nav button:hover {
  color: #000;
  background: rgb(255, 218, 87);
}

.header-con{
  height: 100dvh;
  border: 1px solid black;
  background: url(./assets/images/home-bg.png);
  background-position-x: center;

  
}